* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --slide-1: url("https://images.pexels.com/photos/169573/pexels-photo-169573.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500") ;
    --opacity-1: 0.6
}

body {
    color: white;
    margin: 3rem;
    background: #b6a367;
}

.pl-title {
    font-size: 3rem;

}

.content-creator {
    font-size: 1.7rem;
}

.content-view {
    width: 100%;
    height: 70vh;
    display: flex;
}

.current-video-container {
    flex: 5;
    height: 70vh;
    margin-right: 10px;
}

.side-bar-list {
    flex: 2;
    height: 75vh;
    overflow-y: scroll;
    /* background-color: red; */
}

.side-bar-list::-webkit-scrollbar {
    width: 1em;
}

.side-bar-list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.side-bar-list::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.video-iframe {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-image: url("https://images.pexels.com/photos/169573/pexels-photo-169573.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size: cover;
}

.next-card {
    position: relative;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
}

.next-card:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: var(--opacity-1);
    background-image: var(--slide-1); 
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: contain;
}

.next-video-description {
    width: 100%;
    position: absolute;
    font-size: 1.2rem;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.next-video-creator {
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
}

.play-button {
    position: absolute;
    font-size: 40px;
    top: 30%;
    left: 50%;    
    transform: translateX(-50%);
}

.next-card:hover .play-button{
    color: red;
}