/* .main { */

/* } */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}

.main {
    /* background-color: rgb(65, 58, 58); */
    background-image: linear-gradient(rgba(216, 181, 181, 0.9), rgba(255, 232, 151, 0.9));
}

.input-search-div {
    padding: 10px 5px;
    align-items: center;
    background-color: rgb(230, 197, 197)
}

.search-form {
    max-width: 500px;
    margin: auto;
    margin-top: 5px;
}

.search-input {
    width: 400px;
    padding: 1.5rem;
}

.out-put-div {
    padding: 5%;
    max-width: 100%;
    min-width: 100%;
    min-height: 100vh;
}

.card-contain {
    margin-bottom: 10px;
}

.search-icon {
    font-size: 2rem;
    background-color: linear-gradient(rgba(216, 181, 181, 0.9), rgba(255, 232, 151, 0.9));
}

.search-img .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.search-img .wrapper img {
    height: 30vh;
}

.wrapper-card {
    width: 20rem;
    height: 25rem;
    background: #FBEAEA;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 16px;
    box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.25);
}

.wrapper-card img {
    width: 20rem;
    /* height: 30rem; */
    cursor: pointer;
    background: #C4C4C4;
    border-radius: 16px 16px 0px 0px;
}

.wrapper-card h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 60px;
    color: #000000;
}

.wrapper-card a {
    text-decoration: none;
    color: white;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 31px;
    text-decoration-line: underline;
    color: #000000;
}



footer {
    padding: 2rem 0;
    background-color: #212529;
}

.footer-column:not(:first-child) {
    padding-top: 2rem;
}

@media (min-width: 768px) {
    .footer-column:not(:first-child) {
        padding-top: 0rem;
    }
}

.footer-column {
    text-align: center;
}

.footer-column .nav-item .nav-link {
    padding: 0.1rem 0;
}

.footer-column .nav-item span.nav-link {
    color: #6c757d;
}

.footer-column .nav-item span.footer-title {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.footer-column .nav-item .fas {
    margin-right: 0.5rem;
}

.footer-column ul {
    display: inline-block;
}

@media (max-width: 768px) {
    .footer-column ul {
        text-align: left;
    }
    footer {
        margin-top: .1rem;
    }
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
    background-color: #fec503;
}

ul.social-buttons li a {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: #fff;
    border-radius: 100%;
    outline: 0;
    background-color: #1a1d20;
}

footer .quick-links {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.copyright {
    color: white;
}

.fa-ellipsis-h {
    color: white;
    padding: 2rem 0;
}

a {
    color: #6c757d;
}

a:hover {
    color: #fec503;
    text-decoration: none;
}

::-moz-selection {
    background: #fec503;
    text-shadow: none;
}

::selection {
    background: #fec503;
    text-shadow: none;
}


@media only screen and (min-width: 1920px) {
    body {
        font-size: 22px;
    }
    .main-header .header-wrapper {
        width: 57%;
    }
    #section-1 {
        height: 46em;
    }
    #section-1 .content-slider .slider .banner .banner-inner-wrapper {
        padding-top: 12em;
    }
}

h-img .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.search-img .wrapper img {
    height: 30vh;
}


a {
	text-decoration: none;
	color: #000000;
  }
  
  a:hover {
	color: #222222
  }
  
  /* Dropdown */
  
  .dropdown {
      position: fixed;
      margin-top: -11.5%;
      left: 10%;
  }

  .dd-input {
	display: none;
  }
  
  .dd-menu {
    z-index: 10;
	position: absolute;
	top: 100%;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 0;
	margin: 2px 0 0 0;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
	box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color: rgb(219, 216, 216);
	list-style-type: none;
  }
  
  .dd-input + .dd-menu {
	display: none;
  } 
  
  .dd-input:checked + .dd-menu {
	display: block;
  } 
  
  .dd-menu li {    
	padding: 10px 20px;
	cursor: pointer;
	white-space: nowrap;
  }
  
  .dd-menu li:hover {
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
	background-color: linear-gradient(rgba(141, 87, 87, 0.9), rgba(255, 232, 151, 0.9));
  }
  
  .dd-menu li a {
	display: block;
	margin: -10px -20px;
	padding: 10px 20px;
  }
  
  .dd-menu li.divider{
	padding: 0;
	border-bottom: 2px solid #cccccc;
  }
  .btn{
       box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color: linear-gradient(rgba(141, 87, 87, 0.9), rgba(24, 23, 22, 0.9));
    border: 1px red solid;
    border-radius: 100px;
  }
  .history{
    margin-top: 50px;
    font-size: 2rem;
  }
